<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suven.framework.fileinter.mapper.FileUploadActionWaterMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.suven.framework.fileinter.entity.FileUploadActionWater" id="fileUploadActionWaterMap">
        <result property="id" column="id"/>
        <result property="companyId" column="company_id"/>
        <result property="companyName" column="company_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="uploadUserId" column="upload_user_id"/>
        <result property="uploadUserName" column="upload_user_name"/>
        <result property="fileProductName" column="file_product_name"/>
        <result property="fileBusinessName" column="file_business_name"/>
        <result property="appId" column="app_id"/>
        <result property="clientId" column="client_id"/>
        <result property="useBusinessId" column="use_business_id"/>
        <result property="storageConfigId" column="storage_config_id"/>
        <result property="fileUploadStorageId" column="file_upload_storage_id"/>
        <result property="fileSourceName" column="file_source_name"/>
        <result property="fileOssName" column="file_oss_name"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="deleted" column="deleted"/>
    </resultMap>


    <!-- 批量插入,并返回指定主键字段值; -->
    <insert id="saveBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            file_upload_action_water ( company_id, company_name, dept_id, dept_name, upload_user_id, upload_user_name, file_product_name, file_business_name, app_id, client_id, use_business_id, storage_config_id, file_upload_storage_id, file_source_name, file_oss_name, create_date, modify_date, tenant_id, deleted )
        VALUES
        <foreach collection="list" item="fileUploadActionWater" index="index" separator=",">
            (  #{fileUploadActionWater.companyId},  #{fileUploadActionWater.companyName},  #{fileUploadActionWater.deptId},  #{fileUploadActionWater.deptName},  #{fileUploadActionWater.uploadUserId},  #{fileUploadActionWater.uploadUserName},  #{fileUploadActionWater.fileProductName},  #{fileUploadActionWater.fileBusinessName},  #{fileUploadActionWater.appId},  #{fileUploadActionWater.clientId},  #{fileUploadActionWater.useBusinessId},  #{fileUploadActionWater.storageConfigId},  #{fileUploadActionWater.fileUploadStorageId},  #{fileUploadActionWater.fileSourceName},  #{fileUploadActionWater.fileOssName},  #{fileUploadActionWater.createDate},  #{fileUploadActionWater.modifyDate},  #{fileUploadActionWater.tenantId},  #{fileUploadActionWater.deleted} )
        </foreach>
    </insert>


</mapper>