<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suven.framework.upload.mapper.FileDataDetailedMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.suven.framework.upload.entity.FileDataDetailed" id="fileDataDetailedMap">
        <result property="id" column="id"/>
        <result property="appId" column="app_id"/>
        <result property="appName" column="app_name"/>
        <result property="clientId" column="client_id"/>
        <result property="companyId" column="company_id"/>
        <result property="companyName" column="company_name"/>
        <result property="fileProductName" column="file_product_name"/>
        <result property="fileBusinessName" column="file_business_name"/>
        <result property="useBusinessId" column="use_business_id"/>
        <result property="storageConfigId" column="storage_config_id"/>
        <result property="fileSourceName" column="file_source_name"/>
        <result property="fileType" column="file_type"/>
        <result property="errorCode" column="error_code"/>
        <result property="errorMessage" column="error_message"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="deleted" column="deleted"/>
    </resultMap>


    <!-- 批量插入,并返回指定主键字段值; -->
    <insert id="saveBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            file_data_detailed ( app_id, app_name, client_id, company_id, company_name, file_product_name, file_business_name, use_business_id, storage_config_id, file_source_name, file_type, error_code, error_message, create_date, modify_date, tenant_id, deleted )
        VALUES
        <foreach collection="list" item="fileDataDetailed" index="index" separator=",">
            (  #{fileDataDetailed.appId},  #{fileDataDetailed.appName},  #{fileDataDetailed.clientId},  #{fileDataDetailed.companyId},  #{fileDataDetailed.companyName},  #{fileDataDetailed.fileProductName},  #{fileDataDetailed.fileBusinessName},  #{fileDataDetailed.useBusinessId},  #{fileDataDetailed.storageConfigId},  #{fileDataDetailed.fileSourceName},  #{fileDataDetailed.fileType},  #{fileDataDetailed.errorCode},  #{fileDataDetailed.errorMessage},  #{fileDataDetailed.createDate},  #{fileDataDetailed.modifyDate},  #{fileDataDetailed.tenantId},  #{fileDataDetailed.deleted} )
        </foreach>
    </insert>


</mapper>